
{{#if success_msg}}
    <div class="alert success">
        {{success_msg}}
        <button type="button" class="btn-close" >
            <span>X mess</span>
        </button>
    </div>
{{/if}}



{{#if error_msg}}
    <div class="alert error">
        {{error_msg}}
        <button type="button" class="btn-close">
            <span >X mess</span>
        </button>
    </div>
{{/if}}